@import url("../fonts/fonts.css");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card-dark-blue: #0d1b39;
  --accent: #e58411;
  --header-text-color: #fff;
  --footer-accent: #f6973f;
  --footer-bg: #2d2f33;
  --footer-text-color: #fff;
  --ui-orange: #e58411;
  --ui-biruza: #00d6c9;
  --ui-gray: #7c7c7c;
  --ui-dark-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

html, body {
  font-family: var(--font-main);
  color: var(--text-color);
}

body {
  padding-bottom: 50vh;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url(../../img/header/header-bg.jpg);
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url(../../img/header/header-bg@2x.jpg);
  }
}
.header a {
  color: var(--header-text-color);
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.08px;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.8;
}

.header__search {
  margin: 45px auto 0;
}

.header__dot-sofa {
  position: absolute;
  left: 21.9259259259%;
  top: 64.6226415094%;
  transform: translate(-16px, -16px);
}

.header__dot-vase {
  position: absolute;
  left: 7.8620689655%;
  top: 67.3214285714%;
}

.header__dot-item {
  position: absolute;
  left: 55.1020408163%;
  top: 71.5454545455%;
}

.header__dot-wall {
  position: absolute;
  right: 2.875%;
  top: 75.7380073801%;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart__count {
  position: absolute;
  top: 3px;
  right: -6px;
  height: 25px;
  display: inline-block;
  background-color: var(--accent);
  border-radius: 40px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--font-cards);
}

.search-form {
  display: flex;
  max-width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.search-form__input {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.search-form__input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
}
.search-form__input::placeholder {
  color: #fff;
  font-weight: 400;
}

.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--accent);
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  width: 112px;
  height: 56px;
  background-image: url("../../img/icons/hint.svg");
}

.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("../../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: 120px 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits__title {
  font-size: 42px;
  font-weight: 700;
  max-width: 260px;
}

.benefit__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.benefit__text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.85;
  opacity: 0.8;
}

.benefit__link {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  color: var(--accent);
  font-weight: 500;
  font-style: 14px;
  line-height: 1.85;
}
.benefit__link::after {
  content: url(../../img/icons/arrow-right.svg);
  height: 24px;
}

.products {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
}

.products__tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products__slider {
  margin-bottom: 60px;
}

.products__link {
  text-align: center;
}/*# sourceMappingURL=main.css.map */