.benefit__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.benefit__text {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.85;
    opacity: 0.8;
}

.benefit__link {
    display: inline-flex;
    gap: 13px;
    align-items: center;
    color: var(--accent);
    font-weight: 500;
    font-style: 14px;
    line-height: 1.85;

    &::after {
        content: url(../../img/icons/arrow-right.svg);
        height: 24px;
    }
}