.nav {
     display: grid;
     grid-template-columns: 2fr 8fr 2fr;
     gap: 20px;
}

.nav__logo {
    align-self: center;
}

.nav-list__link {
    &--dropdown {
        display: flex;
        align-items: center;
        gap: 8px;

        &::after {
            content: url(../../img/icons/arrow-down.svg);
            height: 18px;
        }
    } 
}

.nav-list__item {
    position: relative;
}

.nav-list__sub-nav {
    position: absolute;
    left: 0;
    top: 100%;
}